<?xml version="1.0"?>
<launch>
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true" output="screen">
    <rosparam command="load" file="$(find gps_amcl)/cfg/ukf_params.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
</launch>